<!-- <launch>
    <!-- <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch"/> -->
<!-- roslaunch realsense2_camera rs_camera.launch -->
    <node pkg="camera_pkg" type="euclidean_cluster_node" name="euclidean_cluster_node" output="screen"/>
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find camera_pkg)/rviz/img.rviz"/>
</launch> -->